html, body {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

body {
	max-width: 95vw;
}

header {
	width: 100%;
	font-size: 1.3em;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-between;
}

main div {
	margin: auto;
	max-width: 80vw;
	text-align: center;
}

button {
	height: 50px;
	width: 50vw;
	margin: 5px;
	color: #fff;
	background-color: #663399;
	border-radius: 12px;
	text-align: center;
	font-size: 2em;
}

button:hover {
	background-color: #9747e7;
	color: #000;
}

#quiz, #high-scores, form {
	display: none;
}